@import "../../scss/App.scss";

// $primary-color: #444;

* {
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3 {
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    background: rgba(lighten($primary-color, 2), 0.5);
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

main {
  @include background;

  min-height: calc(100vh - 60px);
  padding: 4rem;

  .icons {
    .expressjs {
      font-size: 22px;
    }
    margin-top: 1rem;

    a {
      padding: 1rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  .schedule-link {
    border: 15px solid $secondary-color;
    cursor: pointer;
    font-size: 30px;
    padding: 80px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    width: 100%;
  }

  &#homepage {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
  .sliders {
    // margin-top: 600px;

    .slider {
      background-color: $secondary-color;
      box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
      border-radius: 10%;
      border-radius: 10p 10px 10px 10px;
      margin-top: 100px;
      overflow: hidden;
      height: 600px;
      width: 100%;
    }
  }
}

.text-secondary {
  color: $secondary-color !important;
}
