@import "../../scss/App.scss";

// $primary-color: #444;

* {
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3 {
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    background: rgba(lighten($primary-color, 2), 0.5);
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

main {
  min-height: calc(100vh - 60px);
  padding: 4rem;

  .icons {
    .expressjs {
      font-size: 22px;
    }
    margin-top: 1rem;

    a {
      padding: 1rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#homepage {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

.text-secondary {
  color: $secondary-color;
}
