@import "../../scss/App.scss";

#work {
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;

    & .item {
      margin-top: 40px;
    }

    img {
      border: 3px #fff solid;
      width: 100%;
      height: 270px;

      &:hover {
        @include easeOut;
        border-color: $secondary-color;
        opacity: 0.5;
      }
    }
  }
}
