@import "../../scss/App.scss";

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  img {
    border: 3px #fff solid;
    width: 100%;

    &:hover {
      @include easeOut;
      border-color: $secondary-color;
      opacity: 0.5;
    }
  }
}
